@import "tailwindcss";
@import "./styles/shadcn.css";

:root {
    --yellow: #ffd400;
    --purple: #6610f2;
    --background: #eef4f7;
    --foreground: #101010;
    --blue: #0067ff;
    --cyan: #01d4ff;
    --green: #03914f;
    --teal: #14edad;
    --pink: #eb1b82;
    --red: #f31c31;
    --orange: #ff7400;
    --primary: var(--yellow);
    --secondary: var(--purple);
    --muted: #202020;
}

body {
    color: var(--color-black);
}

@theme {
    --font-sans: var(--font-hanken), ui-sans-serif, system-ui, sans-serif;
    --font-outline: var(--font-outline), sans-serif;

    /* Couleurs principales */
    --color-primary: var(--primary);
    --color-primary-foreground: var(--color-black);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--color-black);
    --color-muted-foreground : var(--muted)

    /* Fond de l'app */
    --color-background: var(--background);

    /* Autres couleurs utiles */
    --color-dark: #343a40;
    --color-muted: #6c757d;

    --color-blue: var(--blue);
    --color-cyan: var(--cyan);
    --color-green: var(--green);
    --color-teal: var(--teal);
    --color-pink: var(--pink);
    --color-red: var(--red);
    --color-orange: var(--orange);
    --color-yellow: var(--yellow);
    --color-purple: var(--purple);

    --color-info: var(--cyan);
    --color-success: var(--green);
    --color-warning: var(--orange);
    --color-danger: var(--red);

    --color-light: #f8f9fa;
    --color-black: #101010;

    /* Tailles */
    --container-8xl: 88rem;
    --container-9xl: 96rem;
    --container-10xl: 104rem;
}

.blur {
    filter: blur(1rem);
}

.dropdown-trigger {
    cursor: pointer;
    position: relative;
}
.dropdown-trigger:hover::before {
    content: "";
    width: 112.5%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: -7.5%;
    z-index: -1;
    background-color: white;
    filter: blur(0.6rem);
    box-shadow: 0 0 0 0.5rem white;
}

header::before {
    content: "";
    width: 112.5%;
    height: 80%;
    position: absolute;
    top: -0%;
    left: -7.5%;
    z-index: -1;
    filter: blur(1.5rem);
    background-color: var(--background);
    box-shadow: 0 0 0 0.5rem var(--background);
}

.card {
    position: relative;
    margin-bottom: 12px;
    padding-top: 24px;
    border-radius: 0.5rem;
}
.card-title {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 20px;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    z-index: 1;
    min-width: 140px;
}
.card::after {
    content: "";
    width: 100%;
    height: 20px;
    bottom: -12px;
    position: absolute;
    left: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    z-index: -1;
}
.card-teal::after {
    background-color: var(--teal);
}
.card-green::after {
    background-color: var(--green);
}
.card-blue::after {
    background-color: var(--blue);
}
.card-purple::after {
    background-color: var(--purple);
}
.card-red::after {
    background-color: var(--red);
}
.card-orange::after {
    background-color: var(--orange);
}
.card-pink::after {
    background-color: var(--pink);
}
.card-cyan::after {
    background-color: var(--cyan);
}
.card-yellow::after {
    background-color: var(--yellow);
    color: var(--color-black);
}


input::placeholder {
    color: var(--color-muted);
}


/* styles/toast.css */
.toast-base {
    @apply flex items-center gap-4 px-4 py-3 rounded-md font-bold shadow-lg max-w-md transition-all;
  
    @apply bg-white text-black border-black/5;
  }
  
  .toast-success {
    @apply border-white/20! bg-success! text-white! border-4;
 }
  
  .toast-error {
    @apply border-white/20! bg-danger! text-white! border-4;
  }
  
  .toast-info {
    @apply border-white/20! bg-info! text-white! border-4;
  }
  

  input, textarea, select {
    @apply bg-white text-black border border-gray-300 rounded-md  focus:ring focus:ring-secondary focus:ring-secondary ;
  }

  .input-sm {
    @apply text-sm px-2! h-8 ;
  }